
    
    <section class="vh-100 gradient-custom">
        <div class="loginAdmin">
            <div class="loginbox">
            <h1><i>E-Kaly</i></h1>
            <h2>LOGIN</h2>
            <form [formGroup]="form" (submit)="login()">
                <div class="textbox">
                    <input formControlName="login" type="email" placeholder="Email" >
                </div>
                <div class="textbox">
                    <input formControlName="password" type="password" placeholder="Password" required="required">
                </div>
            <button class="btn" type="submit">Se connecter</button>
            </form>
            <h5>Pas encore de compte?&nbsp;&nbsp;<a routerLink="../inscription">S'inscrire.</a></h5>
            <div *ngIf="error" class="error">Email ou mots de passe incorrecte.</div>
            </div>
        </div>
        <app-spinner [showSpinner]="spinner"></app-spinner> 
    </section>
    <app-footer text_color="white" div_color="rgba(255, 253, 253, 0.2)"></app-footer>