<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <h1 class="navbar-brand" style="font-size: 30px;"><i>E-Kaly</i></h1>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor02" aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarColor02">
      <ul class="navbar-nav me-auto">
        <li class="nav-item">
          
        </li>
        <li class="nav-item">
          
        </li>
        <li class="nav-item">
          
        </li>
        <li class="nav-item">
            
        </li>
            
      </ul>
      
      <li class="nav-item me-3 me-lg-0 dropdown d-flex">
        <a class="nav-link"   role="button" data-mdb-toggle="dropdown"
          aria-expanded="false" (click) = "deconnect()">
          <img src="../../../../assets/logout-16.png" class="rounded-circle" height="30"
            alt="" loading="lazy" />&nbsp;&nbsp;<span style="color: white;">Déconnecter</span>
        </a>
      </li>
    </div>
  </div>
</nav>

