<!--/.Liste-->
    <div class="span9-fax" *ngIf="false">
        <div class="content-fax">
            <div class="module-fax">
                <div class="module-fax-head">
                    <h3>Restaurant
                    <a  class="btn btn-success" style="float: right;">Ajouter</a></h3>
                </div>
                <div class="module-fax-body">
                    <table class="table table-striped align-middle">
                      <thead>
                        <tr>
                          <th >Nom</th>
                          <th >Adresse</th>
                          <th >% vente</th>
                          <th >Actions</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr *ngFor="let resto of restos ">
                          <td >{{resto.user.lastName}}</td>
                          <td >{{resto.address}}</td>
                          <td >{{resto.pourcentage}}%</td>
                          <td width="20%">&nbsp;&nbsp;<a class="btn btn-warning"><i class="menu-icon icon-book"></i></a>&nbsp;&nbsp;<a class="btn btn-info"><i class="menu-icon icon-edit"></i></a>&nbsp;&nbsp;<a  class="btn btn-danger"><i class="menu-icon icon-trash"></i></a></td>
                        </tr>
                      </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
<!--/Liste-->
<!--/.formulaire-->
    <div class="span9-fax">
      <div class="content-fax">
        <div class="module-fax">
          <div class="module-fax-head">
            <h3>Forms Restaurant</h3>
          </div>
          <div class="module-fax-body">
            <form action="#" th:if="${type == 'update'}" th:action="@{/admin/updateInfo/{id}(id=${info.idInformation})}" th:object="${info}" method="post" class="form-horizontal-fax row-fax-fluid" enctype="multipart/form-data">
              <div class="control-fax-group">
                <label class="control-fax-label" for="basicinput">Titre:</label>
                <div class="controls-fax">
                  <input type="text" id="titre" placeholder="Titre" class="span8-fax" th:field="*{titre}" required>
                </div>
              </div>
              <div class="control-fax-group">
                <label class="control-fax-label" for="basicinput">Mots Cle:</label>
                <div class="controls-fax">
                  <input type="text" id="motsCle" placeholder="Mots Cle" class="span8-fax" th:field="*{motsCle}" required>
                  <span class="text-info">Séparer par virgule</span>
                </div>
              </div>
              <div class="control-fax-group">
                <label class="control-fax-label" for="basicinput">Categorie:</label>
                <div class="controls-fax">
                  <select tabindex="1" placeholder="Categorie" class="span8-fax" th:field="*{idCategorie}" id="idCategorie" required>
                    <option th:each="categ : ${categ}" th:value="${categ.idCategorie}" th:text="${categ.categorie}" ></option>
                  </select>
                </div>
              </div>
              <div class="control-fax-group">
                <label class="control-fax-label" for="basicinput">Information:</label>
                <div class="controls-fax">
                  <textarea class="span8-fax" rows="10" th:field="*{information}" id="information"></textarea>
                </div>
              </div>
              <div class="control-fax-group">
                <div class="controls-fax" >
                  <button  class="btn btn-info">Modifier</button>
                  &nbsp;&nbsp;&nbsp;
                  <button  class="btn btn-danger">Annuler</button>
                </div>
              </div>
            </form>
            
          </div>
        </div>
      </div>
</div>
<!--/.formulaire-->