<!--/.Liste-->
    <div class="span9-fax" *ngIf="liste">
        <div class="content-fax">
            <div class="module-fax">
                <div class="module-fax-head">
                    <h3>Restaurant
                    <a  class="btn btn-success" style="float: right;" (click)="clickButton(null)">Ajouter</a></h3>
                </div>
                <div class="module-fax-body">
                    <table class="table table-striped align-middle">
                      <thead>
                        <tr>
                          <th >Nom</th>
                          <th >Adresse</th>
                          <th >% vente</th>
                          <th >Actions</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr *ngFor="let resto of restos ">
                          <td >{{resto.user.lastName}}</td>
                          <td >{{resto.address}}</td>
                          <td >{{resto.pourcentage}}%</td>
                          <td width="20%">&nbsp;&nbsp;<a class="btn btn-warning"><i class="menu-icon icon-book"></i></a>&nbsp;&nbsp;<a class="btn btn-info" (click)="clickButton(resto._id)"><i class="menu-icon icon-edit"></i></a>&nbsp;&nbsp;<a  class="btn btn-danger" (click)="deleteResto(resto._id,resto.user._id)"><i class="menu-icon icon-trash"></i></a></td>
                        </tr>
                      </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
<!--/Liste-->
<!--/.formulaire-->
    <div class="span9-fax" *ngIf="formulaire">
      <div class="content-fax">
        <div class="module-fax">
          <div class="module-fax-head">
            <h3 *ngIf="!isAddMode">Modifier Restaurant</h3>
            <h3 *ngIf="isAddMode">Ajouter Restaurant</h3>
          </div>
          <div class="module-fax-body">
            <form [formGroup]="form"  (submit)="submitForms()" class="form-horizontal-fax row-fax-fluid" enctype="multipart/form-data">
              <div class="control-fax-group">
                <label class="control-fax-label" for="basicinput">Nom:</label>
                <div class="controls-fax">
                  <input type="text" formControlName="lastName" placeholder="Nom" class="span8-fax" >
                  &nbsp;&nbsp;&nbsp;<span *ngIf="submitted && form.controls.lastName.errors" class="text-danger">Nom requis</span>
                </div>
              </div>
              <div class="control-fax-group">
                <label class="control-fax-label" for="basicinput">Adresse</label>
                <div class="controls-fax">
                  <input type="text" formControlName="address" placeholder="Adresse" class="span8-fax" >
                    &nbsp;&nbsp;&nbsp;<span *ngIf="submitted && form.controls.address.errors" class="text-danger">Adresse requis</span> 
                </div>
              </div>
              <div class="control-fax-group">
                <label class="control-fax-label" for="basicinput">Email:</label>
                <div class="controls-fax">
                  <input type="email" formControlName="login" placeholder="Email" class="span8-fax" >
                  &nbsp;&nbsp;&nbsp;<span *ngIf="submitted && form.controls.login.errors" class="text-danger">Email invalide</span>
                  &nbsp;&nbsp;&nbsp;<span *ngIf="error" class="text-danger">Email invalide</span>
                </div>
              </div>
              <div class="control-fax-group">
                <label class="control-fax-label" for="basicinput">Pourcentage en vente:</label>
                <div class="controls-fax">
                  <input type="number" formControlName="pourcentage" placeholder="%" class="span8-fax" >
                  &nbsp;&nbsp;&nbsp;<span *ngIf="submitted && form.controls.pourcentage.errors" class="text-danger">Pourcentage requis</span>
                </div>
              </div>
              <div class="control-fax-group">
                <div class="controls-fax" >
                  <button  *ngIf="!isAddMode" type="submit" class="btn btn-info">Modifier</button>
                  <button  *ngIf="isAddMode" type="submit" class="btn btn-success">Enregistrer</button>
                  &nbsp;&nbsp;&nbsp;
                  <a  class="btn btn-danger" (click)="annuler()">Annuler</a>
                </div>
              </div>
            </form>
            
          </div>
        </div>
      </div>
</div>
<!--/.formulaire-->
<!--/.LOADING-->
  <app-spinner [showSpinner]="loading"></app-spinner>
<!--/.LOADING-->